[submodule "IsaacGymEnvs"]
	path = IsaacGymEnvs
	url = git@github.com:erush91/IsaacGymEnvs.git
[submodule "rl_games"]
	path = rl_games
	url = git@github.com:erush91/rl_games.git
[submodule "neuro-rl"]
	path = neuro-rl
	url = git@github.com:generush/neuro-rl.git
